<div id="animated-gif-container"></div>	
<div id="container">

	<div id="header"></div>

	<div id="content">
		<div class="publicMessages">
			<ul id="messages"></ul>
		</div>
		<div id="input">
			<div class="spacer mesageInput">
				<form action="" class="submitMessage">
					<input class="" id="m" autocomplete="off" />
				</form>
			</div>
		</div>
	</div>

	<div class="onlineNames">
		<div class="onlineheader">
			Online
		</div>
		<div class="" id="onlinelist">		
			<div class="online" ng-repeat="name in nicknames">
				{{name}}
			</div>
		</div>
	</div>

</div>